<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="beritaku.feature.news">

    <application>
        <activity android:name="beritaku.features.news.home.HomeActivity"/>
        <activity android:name="beritaku.features.news.detail.DetailActivity"/>
        <activity android:name="beritaku.features.news.originalNews.OriginalNewsActivity"/>
    </application>
</manifest>

